@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 400 500 600 700;
}

:root {
  --slate-900: #0f172a;
  --slate-800: #1d293d;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-200: #e2e8f0;

  --teal-400: #46ecd4;
  --teal-300: #96f7e4;

  /* Color */
  --bg-primary: var(--slate-900);
  --bg-accent: rgba(70, 236, 211, 0.1); /* 10% opacity of teal-400 */
  --bg-accent-hover: rgba(29, 41, 61, 0.5); /* 50% opacity of slate-800 */

  /* Text */
  --text-primary: var(--slate-200);
  --text-secondary: var(--slate-400);
  --text-accent: var(--teal-300);
  --text-hover: var(--teal-300);

  /* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Font Size */
  --font-5xl: 3rem; /* 48px */
  --font-4xl: 2.25rem; /* 36px */
  --font-xl: 1.25rem; /* 20px */
  --font-lg: 1.125rem; /* 18px */
  --font-base: 1rem; /* 16px */
  --font-sm: 0.875rem; /* 14px */
  --font-xs: 0.75rem; /* 12px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
}

/* Utility Class */
.title {
  font-size: var(--font-4xl);
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
  color: var(--slate-200);
}

.subtitle {
  font-size: var(--font-lg);
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.75rem;
  color: var(--slate-200);
}

.section-title {
  font-size: var(--font-sm);
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--slate-200);
}

.text-body {
  font-size: var(--font-base);
  color: var(--slate-400);
  line-height: 1.5;
}

.text-link {
  font-size: var(--font-base);
  line-height: 1.5;
  color: var(--slate-200);
  font-weight: 500;

  transition: color 300ms ease;
}

.text-link:hover {
  color: #5eead4;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);

  padding: 3rem 1.5rem;
  min-height: 100dvh;
  max-width: 100dvh;
}

/* 
========================================================================
  > HEADER
========================================================================
*/

/* > HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;

  height: fit-content;
}

.hero__tagline {
  max-width: 250px;
}

/* NAVIGATION */
.navigation {
  display: none;
}

/* SOCIAL MEDIA */
.social_media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;

  width: fit-content;

  margin-top: 2rem;

  position: relative;
  padding-left: 3.75rem;
}

.social_media::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 3rem;
  height: 2px;

  background-color: var(--slate-400);
}

.social_media__link {
  position: relative;

  height: fit-content;
  width: fit-content;
}

.social_media__icon {
  fill: var(--slate-400);

  transition: fill 300ms ease;
}

.social_media__tag {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: var(--font-xs);
  background-color: rgba(22, 22, 22, 0.5);
  color: var(--slate-200);

  padding: 0.25rem 0.5rem;

  display: none;
}

.social_media__link:hover > .social_media__icon {
  fill: #5eead4;
}

.social_media__link:hover > .social_media__tag {
  display: block;
}

@media (min-width: 768px) {
  .title {
    font-size: var(--font-5xl);
    line-height: 1;
  }

  .subtitle {
    font-size: var(--font-xl);
  }

  /* HERO */
  .hero {
    gap: 1.25rem;
  }
}

@media (min-width: 1024px) {
}
